{% extends "base/base.html" %}

{% block content %}

{% if view.request.user.is_authenticated %}
<a class="btn btn-success col-md-12" href="{% url "chat-create" %}">
  Say Something
</a>
<div class="clearfix"></div>
{% endif %}

{% for chat in object_list %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{% url "chat-user" username=chat.user.username %}">
        @{{ chat.user }}
      </a>
    </h3>
  </div>
  <div class="panel-body">
    {{ chat.content }}
  </div>
  <div class="panel-footer">
    {{ chat.created }}
  </div>
</div>
{% endfor %}
{% endblock content %}
